%p= @restaurant.name
%p= @restaurant.description

%div
- if @restaurant.reviews.any?
  - @restaurant.reviews.each do |review|
    %p= review.thoughts
    %p= review.rating
    - if review.belongs_to?(current_user)
      %p= link_to "Delete review", restaurant_review_path(@restaurant.id, review.id), method: :delete
- else
  %h1 No reviews yet
